h1 {
  color:#ffd633;
  display:flex;
  justify-content:center;
  background-color:#ffa31a;
  font-size:55px;
  
}
#container{
  display:flex;
  justify-content:center;
 
}

h2 {
display:flex;
justify-content:center;
background-color:#ffd633;
color:#ff3399;
}
#results{
  background: url(https://previews.123rf.com/images/yaavi/yaavi1604/yaavi160400064/55589338-little-meditating-monk-on-the-lotus.jpg);
  background-repeat: no-repeat;
  background-size: 700px 700px;
  height: 600px;
  width: 300%; /* may not be necessary */
  background-position: center ;
  background-attachment: fixed;
}

