h1 {
  color:#ffd633;
  display:flex;
  justify-content:center;
  background-color:#ffa31a;
  font-size:55px;
}
#container{
  display:flex;
  justify-content:center;
}

h2 {
display:flex;
justify-content:center;
background-color:#ffd633;
color:#ff3399;
}
img {
  width:40px;
  width:40%;
  margin:10px 20px 30px 800px;
}

